In [1]:
import mysql.connector as Connector
import pandas as pd
import numpy as np 
import matplotlib.pyplot as Mat

In [2]:
Database = Connector.connect(host="localhost",user='root',password="00000000",database="project")

In [3]:
print(Database)

<mysql.connector.connection.MySQLConnection object at 0x0000020559FD7E20>

In [4]:
Project = Database.cursor()

In [5]:
Project.execute("SELECT * from Users;")

In [6]:
Output = Project.fetchall()

In [7]:
DataFrame = pd.DataFrame(Output)

In [8]:
DataFrame

,0,1,2,3,4,5,6
0,1,rogers63,david,john,Female,e6a33eee180b07e563d74fee8c2c66b8,1
1,2,mike28,rogers,paul,Male,2e7dc6b8a1598f4f75c3eaa47958ee2f,1
2,3,rivera92,david,john,Male,1c3a8e03f448d211904161a6f5849b68,1
3,4,ross95,maria,sanders,Male,62f0a68a4179c5cdd997189760cbcf18,1
4,5,paul85,morris,miller,Female,61bd060b07bddfecccea56a82b850ecf,1
...,...,...,...,...,...,...,...
95,96,smith9,miller,morris,Male,97ee0765b9c05d35b53769a3c4133b13,1
96,97,miller73,chrishaydon,morgan,Male,6c4283471ace6b4af590c180bd13b1bf,1
97,98,michael44,cooper,maria,Female,dd4d053a12a3d8450166dba9177bac2c,1
98,99,michael36,miller,cooper,Female,36ab21ccb2a64acd5351bbb59753df9d,1
99,100,smith93,bell,mike,Female,8fbfdb81391ef264ae8b0df7e7e91d25,1

In [9]:
Gender = Database.cursor()

In [10]:
Gender.execute("SELECT gender FROM USERS;")

In [11]:
GenderDatabase = Gender.fetchall()

In [12]:
DataGender = pd.DataFrame(GenderDatabase)

In [13]:
DataGender

         0
0   Female
1     Male
2     Male
3     Male
4   Female
..     ...
95    Male
96    Male
97  Female
98  Female
99  Female

[100 rows x 1 columns]

In [38]:
M = DataGender[DataGender=="Male"]

In [39]:
F = DataGender[DataGender=="Female"]

In [40]:
VM = M.count()

In [41]:
VF = F.count()